@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  min-width: 760px;
  min-height: 490px;
  background-color: #ffffff;
  padding: 2rem 0;
}

/*my css is here*/

h1{
  text-align: center;
  margin: 0;
}

#selectone{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

#info {
  display: flex;
  flex-flow: row wrap;
  padding: 0 30px;
}

#info input {
  margin-top: 15px;
  height: 40px;
  width: 335px;
  margin-bottom: 45px;
}

.name {
  width: 50%;
}

.email {
  width: 50%;
}

.password {
  width: 50%;
}

.conpassword {
  width: 50%;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

button {
  height: 40px;
  width: 335px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-left: 95px;
  font-size: 14px;
}

#file {
  margin-top: 20px;
  font-size: 14px;
}
